In [4]:
import mysql.connector
from mysql.connector import Error

try:
    # Kết nối tới MySQL server
    connection = mysql.connector.connect(
        host='127.0.0.1',         # Địa chỉ host (localhost hoặc 127.0.0.1)
        port=3307,                # Cổng đã ánh xạ (3307 trong lệnh Docker)
        user='admin',             # Tên người dùng (admin)
        password='admin123',      # Mật khẩu người dùng (admin123)
        database='my_database'    # Tên database (my_database)
    )

    if connection.is_connected():
        print("Kết nối thành công tới database 'my_database'!")

        # Thực hiện một truy vấn kiểm tra
        cursor = connection.cursor()
        # cursor.execute("SELECT DATABASE();")
        # current_db = cursor.fetchone()
        # print("Đang làm việc với database:", current_db[0])
        
        
        
        ## Check  table
        # Lấy danh sách các bảng
        # cursor.execute("SHOW TABLES;")
        # tables = cursor.fetchall()

        # print("Danh sách các bảng trong database:")
        # for table in tables:
        #     print(table[0])
            
            
        ## Kiểm tra thông tin trong 1 bảng
        # Xem cấu trúc bảng cụ thể
        # table_name = 'your_table_name'  # Thay bằng tên bảng cần kiểm tra
        # cursor.execute(f"DESCRIBE {table_name};")
        # columns = cursor.fetchall()

        # print(f"Cấu trúc bảng '{table_name}':")
        # for column in columns:
        #     print(column)



except Error as e:
    print("Lỗi khi kết nối MySQL:", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Kết nối tới MySQL đã được đóng.")

Kết nối thành công tới database 'my_database'!
Kết nối tới MySQL đã được đóng.

In [5]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

# 1. Đọc file CSV
file_path = r"C:\Users\ADMIN\Downloads\hasaki_products.csv"  # Đường dẫn tới file CSV
data = pd.read_csv(file_path)
data.head()

,id,product_name,new_price,old_price,discount,sold,url_thumbnail
0,1,Serum DrCeutics Vitamin B5 Cấp Ẩm Cho Da Dầu M...,133.000 ₫,140.000 ₫,5%,192.0,https://media.hcdn.vn/catalog/product/p/r/prom...
1,2,Sữa Rửa Mặt DrCeutics Hỗ Trợ Sạch Sâu Cho Mọi ...,135.000 ₫,142.000 ₫,5%,155.0,https://media.hcdn.vn/catalog/product/p/r/prom...
2,3,Nước Tẩy Trang DrCeutics Sạch Mịn Màng Cho Mọi...,161.000 ₫,170.000 ₫,5%,113.0,https://media.hcdn.vn/catalog/product/f/a/face...
3,4,Serum DrCeutics 12% Niacinamide Sáng Da Mờ Thâ...,213.000 ₫,225.000 ₫,5%,76.0,https://media.hcdn.vn/catalog/product/f/a/face...
4,5,"Serum DrCeutics 10% B5 Cấp Ẩm Hỗ Trợ Làm Dịu, ...",188.000 ₫,210.000 ₫,10%,55.0,https://media.hcdn.vn/catalog/product/f/a/face...

In [6]:
import re

def extract_numbers(input_string):
    # Kiểm tra xem chuỗi có phải là số hay không
    try:
        # Nếu input là số, chuyển nó thành số thực
        return float(input_string)
    except ValueError:
        # Nếu không, bỏ dấu phẩy và chấm, sau đó sử dụng regex để tìm tất cả các chuỗi số
        clean_string = input_string.replace(".", "").replace(",", "")
        numbers = re.findall(r'\d+', clean_string)
        # Chuyển đổi kết quả tìm được thành số nguyên và lấy số đầu tiên
        return float(numbers[0]) if numbers else None

# Ví dụ sử dụng hàm
input_string = "140.000 ₫"
numbers = extract_numbers(input_string)
print(numbers)  # Output: 192.0

140000.0

In [7]:
## Fillna
data['new_price'] = data['new_price'].fillna(0)
data['old_price'] = data['old_price'].fillna(0)
data['sold'] = data['sold'].fillna(0)

##Transform
data['new_price'] = data['new_price'].apply(extract_numbers)
data['old_price'] = data['old_price'].apply(extract_numbers)
data['sold'] = data['sold'].apply(extract_numbers)
data.head()

,id,product_name,new_price,old_price,discount,sold,url_thumbnail
0,1,Serum DrCeutics Vitamin B5 Cấp Ẩm Cho Da Dầu M...,133000.0,140000.0,5%,192.0,https://media.hcdn.vn/catalog/product/p/r/prom...
1,2,Sữa Rửa Mặt DrCeutics Hỗ Trợ Sạch Sâu Cho Mọi ...,135000.0,142000.0,5%,155.0,https://media.hcdn.vn/catalog/product/p/r/prom...
2,3,Nước Tẩy Trang DrCeutics Sạch Mịn Màng Cho Mọi...,161000.0,170000.0,5%,113.0,https://media.hcdn.vn/catalog/product/f/a/face...
3,4,Serum DrCeutics 12% Niacinamide Sáng Da Mờ Thâ...,213000.0,225000.0,5%,76.0,https://media.hcdn.vn/catalog/product/f/a/face...
4,5,"Serum DrCeutics 10% B5 Cấp Ẩm Hỗ Trợ Làm Dịu, ...",188000.0,210000.0,10%,55.0,https://media.hcdn.vn/catalog/product/f/a/face...

In [8]:
data.isnull().sum()

id               0
product_name     0
new_price        0
old_price        0
discount         8
sold             0
url_thumbnail    0
dtype: int64

In [9]:
import mysql.connector
from mysql.connector import Error
import pandas as pd  # Đảm bảo rằng bạn đã nhập thư viện này

# 2. Kết nối tới database
try:
    connection = mysql.connector.connect(
        host='127.0.0.1',
        port=3307,  # Cổng đã ánh xạ
        user='admin',  # Tên người dùng MySQL
        password='admin123',  # Mật khẩu
        database='my_database'  # Tên database
    )

    if connection.is_connected():
        print("Kết nối thành công tới database!")

        # 3. Kiểm tra và tạo bảng nếu chưa tồn tại
        cursor = connection.cursor()
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS users (
                id INT PRIMARY KEY,
                name VARCHAR(255),
                new_price FLOAT,
                old_price FLOAT,
                discount VARCHAR(50),
                sold INT,
                url_thumbnail VARCHAR(500)
            );
        """)
        print("Bảng 'users' đã sẵn sàng!")

        # 4. Chuẩn bị dữ liệu để upload
        for _, row in data.iterrows():
            try:
                # Kiểm tra và thay thế NaN bằng None (NULL trong SQL)
                values = (
                    row['id'],
                    row['product_name'] if pd.notna(row['product_name']) else None,
                    row['new_price'] if pd.notna(row['new_price']) else None,
                    row['old_price'] if pd.notna(row['old_price']) else None,
                    row['discount'] if pd.notna(row['discount']) else None,
                    row['sold'] if pd.notna(row['sold']) else None,
                    row['url_thumbnail'] if pd.notna(row['url_thumbnail']) else None
                )
                sql = """
                    INSERT INTO users (id, name, new_price, old_price, discount, sold, url_thumbnail) 
                    VALUES (%s, %s, %s, %s, %s, %s, %s)
                    ON DUPLICATE KEY UPDATE 
                    name=VALUES(name), 
                    new_price=VALUES(new_price),
                    old_price=VALUES(old_price),
                    discount=VALUES(discount),
                    sold=VALUES(sold),
                    url_thumbnail=VALUES(url_thumbnail);
                """
                cursor.execute(sql, values)
            except Error as e:
                print(f"Lỗi khi thêm dữ liệu cho id {row['id']}: {e}")

        # 5. Lưu các thay đổi
        connection.commit()
        print("Dữ liệu đã được upload thành công!")

except Error as e:
    print("Lỗi khi kết nối hoặc thao tác với MySQL:", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Kết nối tới MySQL đã được đóng.")

Kết nối thành công tới database!
Bảng 'users' đã sẵn sàng!
Dữ liệu đã được upload thành công!
Kết nối tới MySQL đã được đóng.

,id,product_name,new_price,old_price,discount,sold,url_thumbnail
32,33,[Mini] Kem Dưỡng Gilaa Saffron Nâng Tông Sáng ...,140000.0,0.0,NaN,0.0,https://media.hcdn.vn/catalog/product/f/a/face...

In [ ]:
# import mysql.connector
# from mysql.connector import Error

# try:
#     # Thiết lập kết nối
#     connection = mysql.connector.connect(
#         host='127.0.0.1',
#         port=3307,
#         user='admin',
#         password='admin123',
#         database='my_database'
#     )

#     if connection.is_connected():
#         # Tạo cursor
#         cursor = connection.cursor()
        
#         # Xoá bảng users
#         cursor.execute("DROP TABLE IF EXISTS users;")
#         print("Bảng 'users' đã được xoá.")
        
#         # Lưu các thay đổi
#         connection.commit()

# except Error as e:
#     print("Lỗi xảy ra:", e)

# finally:
#     # Đóng cursor và kết nối
#     if connection.is_connected():
#         cursor.close()
#         connection.close()
#         print("Kết nối tới MySQL đã được đóng.")

Bảng 'users' đã được xoá.
Kết nối tới MySQL đã được đóng.

In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

def query_to_dataframe(connection, query):
    try:
        # Tạo cursor
        cursor = connection.cursor()
        
        # Thực hiện truy vấn
        cursor.execute(query)
        
        # Lấy tên cột
        column_names = [column[0] for column in cursor.description]
        
        # Lấy dữ liệu
        result = cursor.fetchall()
        
        # Tạo và trả về DataFrame
        return pd.DataFrame(result, columns=column_names)
    
    except Error as e:
        print("Lỗi xảy ra khi thực hiện truy vấn:", e)
        return None

    finally:
        # Đóng cursor
        cursor.close()

# Sử dụng hàm
try:
    # Thiết lập kết nối
    connection = mysql.connector.connect(
        host='127.0.0.1',
        port=3307,
        user='admin',
        password='admin123',
        database='my_database'
    )

    if connection.is_connected():
        query = "SELECT * FROM users"
        df = query_to_dataframe(connection, query)
        
finally:
    # Đóng kết nối
    if connection.is_connected():
        connection.close()
        print("Kết nối tới MySQL đã được đóng.")
        
        
df.head()

Kết nối tới MySQL đã được đóng.

,id,name,new_price,old_price,discount,sold,url_thumbnail
0,1,Serum DrCeutics Vitamin B5 Cấp Ẩm Cho Da Dầu M...,133000.0,140000.0,5%,192,https://media.hcdn.vn/catalog/product/p/r/prom...
1,2,Sữa Rửa Mặt DrCeutics Hỗ Trợ Sạch Sâu Cho Mọi ...,135000.0,142000.0,5%,155,https://media.hcdn.vn/catalog/product/p/r/prom...
2,3,Nước Tẩy Trang DrCeutics Sạch Mịn Màng Cho Mọi...,161000.0,170000.0,5%,113,https://media.hcdn.vn/catalog/product/f/a/face...
3,4,Serum DrCeutics 12% Niacinamide Sáng Da Mờ Thâ...,213000.0,225000.0,5%,76,https://media.hcdn.vn/catalog/product/f/a/face...
4,5,"Serum DrCeutics 10% B5 Cấp Ẩm Hỗ Trợ Làm Dịu, ...",188000.0,210000.0,10%,55,https://media.hcdn.vn/catalog/product/f/a/face...

In [1]:
print(1)

1